.widget.widget-features-box.default {
    background: white;
    padding: 46px;
    margin-top: 16px;
    font-size: 16px;
}

.icon-inner {
    font-size: 30px;
}

.contact-us input.wpcf7-text.form-control {
    height: 50px;
}

.widget.widget-text-heading.small_center {
}

.widget.widget-text-heading {
    margin-bottom: 56px;
    margin-top: 26px;
}